.meals {
    max-width: 60rem;
    width: 90%;
    margin: 2rem auto;
    animation: meals-appear 1s ease-out forwards;
}

.meals ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.loading {
    text-align: center;
    color:#493c3c
}

.warning {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    cursor: pointer;
    font: inherit;
    border: none;
    background-color: #493c3c;
    color: white;
    padding: .75rem 2.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 12px;
    font-weight: bold;
    margin: auto;
}

@keyframes meals-appear {
    from {
        opacity: 0;
        transform: translateY(3rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}